<div class="container mt-3 pb-2 shadow-lg">
  <div class="row">
    <div class="d-flex justify-content-center p-3">
      <h1 class="align-self-center">新增支出</h1>
    </div>

  </div>
  <div class="w-50 mx-auto" id="data-panel">
    <p>* 所有欄位皆為必填</p>
    <form action="/records" method="POST">
      <div class="form-group mb-3">
        <label for="name">名稱：</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="請輸入支出名稱" required>
      </div>
      <div class="form-group mb-3">
        <label for="merchant">店家：</label>
        <input type="text" id="merchant" name="merchant" class="form-control" placeholder="請輸入支出店家" required>
      </div>
      <div class="form-group mb-3">
        <label for="date">日期：</label>
        <input type="date" id="date" name="date" class="form-control" placeholder="請輸入支出日期" value="{{dateNow}}" required>
      </div>
      <div class="form-group mb-3">
        <label for="category">類別：</label>
        <select name="category" id="category" class="form-select" required>
          <option value="" selected disabled hidden>選擇類別</option>
          {{#forEach categories}}
          <option value="{{this.name}}">{{this.name}}</option>
          {{/forEach}}
        </select>
      </div>
      <div class="form-group mb-3">
        <label for="amount">金額：</label>
        <input type="text" id="amount" name="amount" class="form-control" placeholder="請輸入支出金額" required>
      </div>
      <div class="row">
        <button type="submit" class="col-6 col-sm-3 mx-auto btn btn-primary mt-3">新增支出</button>
      </div>
    </form>
  </div>
</div>